@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;600&display=swap');

*{
    font-family: 'Cuprum', sans-serif;  
}

body {
    background-color: #aba9c7;
}

menu {
    position: fixed;
    width: 100%;
    height: 70px;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #2a2650;
}

menu .bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.nav .menu {
    display: flex;
    align-items: center;
}

.nav .menu li {
    margin: 0 15px;
    list-style: none;
}

.title {
    color: white;
    font-size: 40px;
    margin: 0;
}

li a{
    position: relative;
    color: white;
    font-size: 30px;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

p {
    color:blue;
}
h2 {
    color: rgb(45, 47, 187);
}
a {
    color: rgb(133, 136, 133);
}
.block {
    width: 260px;
    background-color: rgb(241, 237, 181);
    border: 2px solid rgb(128, 119, 119);
    padding: 20px 10px 20px 30px;
}

.active1 {
    color: transparent;
    font-size:0px;
}

.active1:after  {
    color: red;
    content: "ПОПРОБУЙ НАЙДИ";
    font-size: 40px;
}

.active2 {
    color: transparent;
    font-size:0px;
}

.active2:after {    
    color: red;
    content: 'АДСКАЯ КУХНЯ';
    font-size: 40px;
}

.active3 {
    color: rgb(190, 10, 214);
    font-size: 30px;
}

#btn1 {
    font-size: 20px;
    width: 250px;
    height: 100px;
    color: white;
    background-color: #2a2650;
}

#btn1 {
    font-size: 20px;
    width: 250px;
    height: 100px;
    color: white;
    background-color: #2a2650;
}

#btn1:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}

#btn2 {
    font-size: 20px;
    width: 250px;
    height: 100px;
    color: white;
    background-color: #2a2650;
}

#btn2:hover {
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}